// https://training.nextflow.io/basic_training/debugging/#dynamic-resources-allocation
process {

// memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in [140,143,137] ? 'retry' : 'finish' }
    maxRetries = 3

    withName: 'MUNG_AND_LOCUS_BREAKER' {
        cpus   = 1
        memory = { task.attempt == 1 ? "24GB" : (task.attempt == 2 ? "48GB" : "92GB") }
        time = { task.attempt == 1 ? "1.h" : (task.attempt == 2 ? "2.h" : "4.h") }
    }

    withName: 'LOCUS_BREAKER' {
        cpus   = 1
        memory = { task.attempt == 1 ? "12GB" : (task.attempt == 2 ? "24GB" : "62GB") }
        time = { task.attempt == 1 ? "30.m" : (task.attempt == 2 ? "1.h" : "2.h") }
    }
    
    withName: 'COJO_AND_FINEMAPPING' {
        cpus = 1
        memory = { task.attempt == 1 ? "24GB" : (task.attempt == 2 ? "48GB" : "92GB") }
        time = { task.attempt == 1 ? "45.m" : (task.attempt == 2 ? "5.h" : "15.h") }
    }
    
    withName: 'SUSIE_FINEMAPPING' {
        cpus = 1
        memory = { task.attempt == 1 ? "24GB" : (task.attempt == 2 ? "48GB" : "92GB") }
        time = { task.attempt == 1 ? "45.m" : (task.attempt == 2 ? "10.h" : "30.h") }
    }

    withLabel: 'appending_tables' {
        cpus   = 1
        memory = { task.attempt == 1 ? "8GB" : (task.attempt == 2 ? "16GB" : "24GB") }
        time = { task.attempt == 1 ? "15.m" : (task.attempt == 2 ? "30.m" : "1.h") }
    }

    withName: 'FIND_CS_OVERLAP_BY_CHR' {
        cpus   = 1
        memory = { task.attempt == 1 ? "32GB" : (task.attempt == 2 ? "64GB" : "92GB") }
        time = { task.attempt == 1 ? "1.h" : (task.attempt == 2 ? "2.h" : "4.h") }
    }

    withName: 'COLOC' {
        cpus   = 1
        memory = { task.attempt == 1 ? "24GB" : (task.attempt == 2 ? "48GB" : "64GB") }
        time = { task.attempt == 1 ? "1.h" : (task.attempt == 2 ? "4.h" : "8.h") }
    }
    
}