// A prototype for a test configuration file

profiles {
	test {
		params {
			inputFileList = "${projectDir}/example_data/example_data_finemapping_input_table.tsv"
			run_liftover = true 			
			is_test_profile = true
			large_locus_size = 1000000
		}
	}
	test_long {
		params {
			inputFileList = "${projectDir}/example_data/example_data_finemapping_input_table_long.tsv"
			run_liftover = true
			is_test_profile = true
			large_locus_size = 1000000
		}
	}
}