// A prototype for a test configuration file

profiles {
	test {
		params {
			inputFileList = "${projectDir}/example_data/example_data_finemapping_input_table.tsv"			
			is_test_profile = true
		}
	}
	test_long {
		params {
			inputFileList = "${projectDir}/example_data/example_data_finemapping_input_table_long.tsv"
			is_test_profile = true
		}
	}
}